header {
    display: flex;
    justify-content: center;
    height: 16rem;
    border-bottom: 2px solid gray;

    .menu_button {
        display: block;
        position: relative;

        button {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
            padding: 2rem 3rem;

            .line {
                background-color: black;
                width: 4rem;
                height: 1.5px;
                transition: 150ms;
                transform: rotate(0);

            }          

            .crossed {
            }
        }
    }
}